<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    
    <div id="qrback">
        <h1>Leia o QrCode</h1>
        <div id="qrimage">
            <img id="qrcode">
        </div>
    </div>

    <div id="backLousa">
        <h1>Desenhe</h1>
        <canvas id="lousa"></canvas>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="../js/script.js"></script>
</body>
</html>